div.custom_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

div.image_text_container{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}
div.image_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
div.image_block img{
    max-width: 200px;
    height: auto;
    margin-bottom: 10px;
}
a{
    color: white;
    text-decoration: underline;
    font-weight: bold;
}