div.custom_content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
    margin-right: auto;
    margin-left: auto;
}
/*for the labels*/
label {
    font-family: 'Heebo', sans-serif;
    font-size: 0.75rem;
    font-weight: 500;
    letter-spacing: 0.025rem;
    font-style: normal;
    text-transform: uppercase;
    color: #00aced;
    background-color: #1d1d1d;
    border-radius: 1.25rem;
    -webkit-border-radius: 1.25rem;
    -moz-border-radius: 1.25rem;
    padding: 0.35rem 0.75rem;
    border-style: solid;
    border-width: 0.125rem;
    border-color: #00aced;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -box-shadow: none;
}
.logo{
    display: none;
    margin-top: 10px;
    gap: 10px;
    justify-content: center;
}
.logo img{
    max-width: 40px;
    height: auto;
}
.lang .logo{
    display: none;
}
/*hover web*/
#web:hover label{
    background: linear-gradient(90deg, #e34c26, #264de4, #f7df1e);
    color: #000;
    border-color: #FFF;
}
/*hovering showing the images*/
.lang:hover .logo{
    display: flex;
}
/*active showing the images*/
.lang.active .logo{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}
/*active web*/
#web.active label {
    background: linear-gradient(90deg, #e34c26, #264de4, #f7df1e);
    color: #000;
    border-color: #fff;
}
